@model BoardModel
@{
    ViewBag.Title = "Novo Quadro";
}

<nav class="nav mb-3">
    <span class="nav-link disabled" aria-disabled="true">Olá, @ViewBag.User.Name!</span>
    <a class="nav-link active" href="/Dashboard/@ViewBag.User.Id">Seus
        Quadros</a>
    <a class="nav-link active" asp-controller="Dashboard" asp-action="Create" asp-route-owner="@ViewBag.User.Id">Novo
        Quadro</a>
    <a class="nav-link active" asp-controller="Sign" asp-action="LogOut" asp-route-id="@ViewBag.User.Id">Sair</a>F
</nav>

<div class="modal-dialog">
    <form class="task-form modal-content" action="/Board/Create" method="post">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
                <span>@ViewBag.Error</span>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <input type="hidden" asp-for="Owner" value="@ViewBag.User.Id" />
        <div class="form-floating mb-3">
            <input id="titleInput" class="form-control" asp-for="Title" placeholder="Título da tarefa" />
            <label for="titleInput">Título do Quadro</label>
        </div>
        <div class="form-floating">
            <textarea id="descriptionInput" class="modal-body form-control" asp-for="Description"
                placeholder="Descreva sua tarefa aqui."></textarea>
            <label for="descriptionInput">Descrição do Quadro</label>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Criar</button>
    </form>
</div>