@model UserModel

@{
	ViewData["Title"] = "Dashboard";
}

<nav class="nav mb-3">
	<span class="nav-link disabled" aria-disabled="true">Olá, @Model.Name!</span>
	<a class="nav-link active" href="#">Seus Quadros</a>
	<a class="nav-link active" asp-controller="Dashboard" asp-action="Create" asp-route-owner="@Model.Id">Novo
		Quadro</a>
	<a class="nav-link active" asp-controller="Dashboard" asp-action="Create" asp-route-owner="@Model.Id">Adicionar
		Leitor</a>
	<a class="nav-link active" asp-controller="Dashboard" asp-action="Create" asp-route-owner="@Model.Id">Sair</a>
</nav>

@if (ViewBag.Error != null)
{
	<div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
		<span>@ViewBag.Error</span>
		<button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
<section class="row">
	@foreach (BoardModel Board in Model.Boards)
	{
		<div class="card col-3 mx-2 my-3" style="width: 18rem;">
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h5 class="card-title">@Board.Title</h5>
					<div class="dropdown">
						<i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" asp-controller="Dashboard" asp-action="Update"
									asp-route-board="@Board.Id">Atualizar</a></li>
							<li><button class="dropdown-item" href="#">Deletar</button></li>
						</ul>
					</div>
				</div>
				<p class="card-text">@Board.Description</p>
				<a class="btn btn-primary btn-sm" role="button" asp-controller="Task" asp-action="Index"
					asp-route-board="@Board.Id">Consultar Tarefas</a>
			</div>
		</div>
	}
</section>