@model UserModel

@{
	ViewData["Title"] = "Tarefas";
	int TaskCounter = 0;
}

<nav class="nav">
	<span class="nav-link disabled" aria-disabled="true">Olá, @Model.Name!</span>
	<a class="nav-link active" asp-controller="Task" asp-action="Create">Nova Tarefa</a>
	<a class="nav-link active" asp-controller="Task" asp-action="Index" asp-route-id="@Model.Id">Suas Tarefas</a>
</nav>

<section class="row justify-content-space-evenly">
	@foreach (TaskModel Task in Model.Tasks)
	{
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">@Task.Title</h5>
				<h6 class="card-subtitle mb-2 text-body-secondary">#@($"#${TaskCounter}")</h6>
				<p class="card-text">@Task.Text?.Substring(0, 20)</p>
				<a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
					aria-controls="staticBackdrop" asp-controller="Task" asp-action="SelectTask" asp-route-task="@Task.Id">
					Ver mais
				</a>
			</div>
		</div>
	}
</section>


<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdrop"
	aria-hidden="@(ViewBag.SelectedTask == null)">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@ViewBag.SelectedTask.Title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>@ViewBag.SelectedTask.Title</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<a role="button" class="btn btn-danger" asp-controller="Task" asp-action="Delete"
					asp-route-task="@ViewBag.SelectedTask.Id">Finalizar</a>
			</div>
		</div>
	</div>
</div>