@model BoardModel

@{
	ViewData["Title"] = "Tarefas";
	int TaskCounter = 0;
}


<nav class="nav mb-3">
	<span class="nav-link disabled" aria-disabled="true">@Model.Title</span>
	<a class="nav-link active" asp-controller="Dashboard" asp-action="Index" asp-route-owner="@Model.Owner">Quadros</a>
	<a class="nav-link active" asp-controller="Task" asp-action="Index" asp-route-board="@Model.Id">Suas
		Tarefas</a>
	<a class="nav-link active" asp-controller="Task" asp-action="Create" asp-route-board="@Model.Id">Nova
		Tarefa</a>

	<div class="btn-group">
		<a class="nav-link active dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			Leitores
		</a>

		<ul class="dropdown-menu">
			@foreach (UserModel Viewer in Model.Viewers)
			{
				<li><span class="dropdown-item">@Viewer.Name</span></li>
			}
		</ul>
	</div>

	<a class="nav-link active" asp-controller="Dashboard" asp-action="Subscribe" asp-route-board="@Model.Id">Adicionar
		Leitor</a>
</nav>

<section class="row justify-content-center">
	@foreach (TaskModel Task in Model.Tasks)
	{
		<div class="card mx-2 my-3" style="width: 18rem;">
			<form class="card-body" asp-controller="Task" asp-action="Delete">
				<h5 class="card-title">#@($"{++TaskCounter}")</h5>
				<p class="card-text">@Task.Content</p>
				<input type="hidden" name="task" value="@Task.Id" />
				<input type="hidden" name="board" value="@Model.Id" />
				<button class="btn btn-primary" type="submit">Finalizar</button>
			</form>
		</div>
	}
</section>