@model BoardModel

@{
	ViewData["Title"] = "Tarefas";
	int TaskCounter = 0;
}

<nav class="nav mb-3">
	<span class="nav-link disabled" aria-disabled="true">Olá, @ViewBag.UserName!</span>
	<a class="nav-link active" asp-controller="Task" asp-action="Create" asp-route-author="@Model.Id">Nova Tarefa</a>
	<a class="nav-link active" asp-controller="Task" asp-action="Index" asp-route-id="@Model.Id">Suas Tarefas</a>
</nav>

<section class="row">
	@foreach (TaskModel Task in Model.Tasks)
	{
		<div class="card mx-1" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">#@($"{TaskCounter}")</h5>
				<p class="card-text">@Task.Content</p>
				<a class="btn btn-danger" type="button" asp-controller="Task" asp-action="Delete"
					vasp-route-task="@Task.Id">Finalizar</a>
			</div>
		</div>
	}
</section>