@model TaskModel
@{
    ViewBag.Title = "Atualizar Tarefa";
}

<nav class="nav">
    <span class="nav-link disabled" aria-disabled="true">Olá, @ViewBag.UserName!</span>
    <a class="nav-link active" asp-controller="Task" asp-action="Create">Nova Tarefa</a>
    <a class="nav-link active" asp-controller="Task" asp-action="Index" asp-route-id="@Model.AuthorId">Suas Tarefas</a>
</nav>

<form class="container container-sm text-center" asp-controller="Task" asp-action="Create" method="post">
    <input type="hidden" asp-for="AuthorId" value="@Model.Title" />
    <input class="modal-title form-control" asp-for="Title" placeholder="Título da tarefa" value="@Model.Title" />
    <textarea class="modal-body form-control" asp-for="Text"
        placeholder="Descreva sua tarefa aqui.">@Model.Text</textarea>
    <footer class="modal-footer">
        <a role="button" class="btn btn-secondary" asp-controller="Task" asp-action="Index">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </footer>
</form>