@model BoardModel
@{
	ViewBag.Title = "Atualizar quadro";
}

<nav class="nav mb-3">
	<span class="nav-link disabled" aria-disabled="true">Olá, @ViewBag.UserName!</span>
	<a class="nav-link active" asp-controller="Dashboard" asp-action="Index" asp-route-owner="@Model.Owner">Seus
		Quadros</a>
	<a class="nav-link active" asp-controller="Dashboard" asp-action="Create" asp-route-owner="@Model.Owner">Novo
		Quadro</a>
	<a class="nav-link active" asp-controller="Sign" asp-action="LogOut" asp-route-id="@Model.Owner">Sair</a>
</nav>

<div class="modal-dialog">
	<form class="task-form modal-content" action="/Board/Update" method="post">
		@if (ViewBag.Error != null)
		{
			<div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
				<span>@ViewBag.Error</span>
				<button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}
		<input type="hidden" asp-for="Id" value="@Model.Id" />
		<input type="hidden" asp-for="Owner" value="@Model.Owner" />
		<div class="form-floating mb-3">
			<input id="titleInput" class="form-control" asp-for="Title" placeholder="Título da tarefa"
				value="@Model.Title" />
			<label for="titleInput">Título do Quadro</label>
		</div>
		<div class="form-floating">
			<textarea id="descriptionInput" class="modal-body form-control" asp-for="Description"
				placeholder="Descreva sua tarefa aqui.">@Model.Description</textarea>
			<label for="descriptionInput">Descrição do Quadro</label>
		</div>

		<button type="submit" class="btn btn-primary btn-lg">Atualizar</button>
	</form>
</div>